
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    background-image: url('/static/fundo.png');
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
}

header {
    background: linear-gradient(135deg, #c14ae29d, #462d90);
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
header nav a {
    color: #ffffff; 
    text-decoration: none;
    margin: 0 10px;
    font-weight: 500;
}

header nav a:hover {
    color: #ffcc00; 
}
.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px);
}

.btn-outline-primary {
    border-color: #306db2;
    color: #4a90e2;
}

.btn-outline-primary:hover {
    background-color: #4a90e2;
    border-color: #4a90e2;
}

footer {
    background-color: #000000;
    color: #fafdff;
}
