
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {% extends 'base.html' %}

{% block title %}Categoria{% endblock %}

{% block content %}
<h2>Categoria: {{ categoria }}</h2>

<div class="row">
  {% for post in posts %}
  <div class="col-md-4">
    <div class="card mb-4">
      <img src="{{ url_for('static', filename='img/uploads/' ~ post.imagem) }}" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">{{ post.titulo }}</h5>
        <p class="card-text">{{ post.resumo }}</p>
        <a href="/post/{{ post.id }}" class="btn btn-primary">Leia mais</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
</body>
</html>