{% extends 'base.html' %}

{% block content %}
<div class="sobre-box">
    <h2>Sobre o Blog</h2>

    <p>
        <strong>Lendas Que o Tempo Contou</strong> é um blog cultural dedicado à
        valorização e preservação das lendas do folclore brasileiro.
        Aqui, histórias que atravessaram gerações ganham voz novamente,
        mantendo viva a memória popular transmitida pela oralidade.
        O blog reúne narrativas inspiradas nas tradições indígenas,
        ribeirinhas e populares do Brasil, revelando personagens míticos,
        mistérios da natureza e ensinamentos culturais.
    </p>
</div>
{% endblock %}
